numpy
pandas
scikit-learn
xgboost
joblib
fastapi
uvicorn[standard]
python-multipart
shap
mlflow
rapidfuzz
streamlit
xlsxwriter
python-dotenv
python-docx
django
djangorestframework
django-cors-headers
requests
androguard

